
<h1>Add Blog</h1>

<form action="/createblog" method="post" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="Enter blog title">

    <label for="description">Description</label>
    <input type="text" name="description" id="description" placeholder="Enter blog description">

    <label for="image">image</label>
    <input type="text" name="image" id="image" placeholder="Enter blog image Url">

    <button type="submit">Submit</button>
</form>